:root {
  color-scheme: light dark;
}

@theme {
  --color-body: light-dark(#fbfbfb, #131313);
  --color-surface-default: light-dark(#ffffff, #0a0a0a);
  --color-surface-warning: light-dark(#eab308, #eab308);
  --color-surface-accent: light-dark(#4ade80, #4ade80);
  --color-surface-primary: light-dark(#0a0a0a, #ffffff);
  --color-surface-primary-hover: light-dark(#16a34a, #16a34a);
  --color-surface-subtle: light-dark(#e3e3e3, #1e293b);
  --color-surface-subtler: light-dark(#eeeeee, #1e293b);
  --color-surface-dark: light-dark(#151a27, #151a27);

  --color-foreground-accent: light-dark(#4ade80, #4ade80);
  --color-foreground-default: light-dark(#2b2b2b, #ffffff);
  --color-foreground-subtle: light-dark(#707070, #969696);
  --color-foreground-inverted: light-dark(#ffffff, #0f172a);
  --color-foreground-warning: light-dark(#eab308, #eab308);
  --color-foreground-on-bold: light-dark(#ffffff, #2b2b2b);
  --color-foreground-on-dark: light-dark(#ffffff, #ffffff);
  --color-foreground-on-primary: #0f172a;
  --color-foreground-link-default: light-dark(#29b75d, #29b75d);

  --color-border-default: light-dark(#dedede, #434343);
  --color-border-default-hover: light-dark(#c3bcbc, #3f4e68);
  --color-border-on-dark: light-dark(#273347, #273347);

  --spacing-space-2xs: 4px;
  --spacing-space-xs: 8px;
  --spacing-space-sm: 12px;
  --spacing-space-md: 16px;
  --spacing-space-lg: 24px;
  --spacing-space-xl: 32px;
  --spacing-space-2xl: 40px;
  --spacing-space-3xl: 56px;
  --spacing-space-4xl: 80px;
  --spacing-space-5xl: 120px;
  --spacing-space-6xl: 160px;
}
